.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;

  padding-bottom: 10px;
}

.title {
  display: flex;
  font-size: 40px;
  color: white;
}

.label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  color: white;
  width: 25%;
}

.button {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 5px;
  font-size: 23px;
  width: 25%;
}
